@charset "utf-8";

body, html {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background: #FFF;
	font-family:'Gill Sans std','Gill Sans MT','Goudy Bookletter 1911','Linux Libertine O','Liberation Serif',Candara,serif;
	background: #FFF;
	color: #222;
	font-size: 18px;
	line-height: 1.4em;
	background:transparent none repeat scroll 0 0;
	margin:0;
	padding:0;
	padding-bottom: 2em;
}

pre {
		font-family:'Gill Sans std','Gill Sans MT','Goudy Bookletter 1911','Linux Libertine O','Liberation Serif',Candara,serif;
}

h1, h2, h3, h4, h5, h6 {
	color:#2D2A62;
}

blockquote {
	border: 1px solid gray;
	padding: .25em;
}

div#main {
		margin-left: auto;
		margin-right: auto;
		padding: .5em;
		max-width: 980px;
	}

div.toc {
	font-size: 18px;
	margin:1em;
	margin-left: 4em;
	border: 1px solid black;
	width: 30em;
	padding: .5em;
}

div.toc ul {
	margin:0;
	padding:0;
}

div.toc ul li {
	font-size: 16px;
	margin:0;
	padding:0;
	line-height: 2em;
	list-style-type: none;
}

div.toc ul li a {
	font-weight: 600;
	color: black;
}

div.toc ul li ul li {
	list-style-type: none;
	margin-left: 2em;
}

div.toc ul li ul li a {
	font-weight: normal;
}

#header {
	background-color: #2D2A62;
}

#header h1 {
	margin:0;
	padding:0;
	color:white;
	margin-left: 2em;
	padding-top: .5em;
	padding-bottom: .5em;
	font-size: 1.5em;
	font-weight: normal;
}


#header a {
	color:white;
}

#header a:hover {
	text-decoration: underline;
}

p {
	margin:0;
	padding:0;
	margin-top: 1em;
	margin-left: 1em;	
	margin-bottom: 1em;
}

em {font-style: italic;}

ul, li {
	line-height: 1.1em;
	/*margin: 25px;
	margin-bottom: 40px; */
	/*list-style-type: none;*/
	margin: 10px;
	}

ul li ul li {
	margin-top: 10px;
	list-style-type: none;
	margin-bottom: 12px;
}

/*(ul li ul li:before {
	content: "-  " attr(li);
}

ul li ul li ul li:before {
	content: "--  " attr(li);
}
*/
	
a {
	color: blue;
	text-decoration: none;
}

a:hover {text-decoration: underline;}


#home {	width: 50%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20%; 
		}

#disqus_thread {
	margin: 1em;
	margin-left: 3em;
	margin-top: 4em;
}


blockquote.modern {
  border: none;
  font-size: smaller;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
} 

iframe {
	margin: 2em;
}

code {
  font-family: Menlo, monospace;
  width: 700px;
  margin: 2em;
  margin-left: 3em;
  font-size: 12px;
  overflow: auto; 
  padding: 2em;
}



div#post-index {
  	margin-left: 3em;
  	padding-top: 1em;
  	padding-bottom: 2em;
  }

div#post-index h3 {
	font-size: 1.2em;
	color: #2D2A62;
	border-bottom: 1px solid #2D2A62;
}

div#post-index ul li {
	margin-top: .5em;
}

div#post-index span.index-date {
	font-style: italic;
	color: #4E4D4D;
	font-size: smaller;
}

.twitter-follow-button {
	margin-left: 2em;
}