article,
figcaption,
figure,
footer,
header,
nav,
section,
time {
  display: block;
}
html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
::-moz-selection {
  background: #fd7;
  color: #000;
  text-shadow: none;
}
::selection {
  background: #fd7;
  color: #000;
  text-shadow: none;
}
a:hover, a:active {
  outline: 0;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
ol, ul {
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
figure {
  margin: 0 0 24px 0;
  position: relative;
}
figure img,
figure object,
figure embed,
figure video {
  display: block;
  height: auto;
  max-width: 100%;
}
figcaption {
  color: #999999;
  margin-top: 24px;
}
.video-container {
  height: 0;
  margin-bottom: 24px;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
  overflow: hidden;
}
.video-container iframe, .video-container object, .video-container embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.sans, .fancy-font {
  font-family: 'Droid Sans', sans-serif;
}
.mono {
  font-family: 'Droid Sans Mono', monospace;
}
.small {
  font-size: 12px;
}
.normal {
  font-size: 14px;
}
.large {
  font-size: 18px;
}
.huge {
  font-size: 24px;
}
.massive {
  font-size: 36px;
}
.gigantic {
  font-size: 48px;
}
.title {
  line-height: 1;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
}
body {
  background: #ffffff;
  color: #404040;
  line-height: 24px;
  font-size: 14px;
  font-family: 'Droid Sans', sans-serif;
}
a {
  color: #1d73bb;
  text-decoration: none;
}
a:hover {
  color: #02060a;
  text-decoration: underline;
}
h1 {
  font-size: 24px;
  margin: 0 0 .5em 0;
  line-height: 1;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
}
h2 {
  font-size: 18px;
  margin: 48px 0 24px;
  line-height: 1;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
}
h3 {
  color: #999999;
  margin: 36px 0 24px;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
}
h4, h5, h6 {
  font-weight: 400;
  margin: 24px 0;
  font-size: 14px;
  line-height: 1;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
}
b, strong {
  font-weight: 700;
}
blockquote {
  border-left: 6px solid gray;
  margin-left: -12px;
  padding-left: 6px;
}

time {
  font-size: 12px;
  text-transform: uppercase;
}
.post ul li {
  margin-left: 2em;
  /*list-style-image: url('../images/bullet.png');*/
}
.archive li {
  list-style: none;
}
.archive a {
  border-bottom: 1px dotted #cccccc;
  display: block;
  padding: 12px 0;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.archive a:hover {
  background-color: #f2f2f2;
  text-decoration: none;
}
.archive time {
  color: #666666;
  display: inline;
  padding-left: 12px;
}
.tabmenu li {
  list-style-type: none;
}
.tabmenu li a {
  border: 1px solid #1d73bb;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding: 12px 0;
  text-align: center;
  width: 50%;
}
.tabmenu li a:hover {
  text-decoration: none;
}
.tabmenu li:last-child a {
  border-left: none;
}
.ui-tabs-hide {
  display: none;
}
.tabmenu li a:hover, .ui-tabs-selected a, .ui-tabs-selected a {
  background-color: #f2f2f2;
}
.btn {
  color: #ffffff;
  background-color: #2D2A62;
  border: none;
  -webkit-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
  padding: 8px 14px 10px;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  -webkit-user-select: none;
}
.btn:hover {
  color: #ffffff;
  text-decoration: none;
}
.btn:active {
  -webkit-box-shadow: inset 0px -3px 1px #ffffff, inset 0 0px 3px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: inset 0px -3px 1px #ffffff, inset 0 0px 3px rgba(0, 0, 0, 0.9);
  box-shadow: inset 0px -3px 1px #ffffff, inset 0 0px 3px rgba(0, 0, 0, 0.9);
  position: relative;
  top: 3px;
}
.btn:active:after {
  content: "";
  background: #ffffff;
  bottom: -1px;
  height: 3px;
  left: 0;
  position: absolute;
  width: 100%;
}
.tag li {
  list-style: none;
  margin-bottom: 3px;
}
.tag a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  color: #000000;
  background-color: #ddedfa;
  display: block;
  margin-left: 20px;
  padding: 0 10px 0 12px;
  position: relative;
  font-size: 12px;
}
.tag a:hover {
  background-color: #85bdec;
  text-decoration: none;
}
.tag a:before {
  content: "";
  border-color: transparent #ddedfa transparent transparent;
  border-style: solid;
  border-width: 12px 12px 12px 0;
  float: left;
  height: 0;
  left: -12px;
  position: absolute;
  top: 0;
  width: 0;
}
.tag a:after {
  content: "";
  background: #ffffff;
  -webkit-box-shadow: -1px -1px 2px #000000;
  -moz-box-shadow: -1px -1px 2px #000000;
  box-shadow: -1px -1px 2px #000000;
  float: left;
  height: 4px;
  left: 0;
  position: absolute;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  top: 10px;
  width: 4px;
}
.tag a:hover:before {
  border-color: transparent #85bdec transparent transparent;
}
.tag-1 a {
  width: 100%;
}
.tag-2 a {
  width: 90%;
}
.tag-3 a {
  width: 80%;
}
.tag-4 a {
  width: 70%;
}
.tag-5 a {
  width: 60%;
}
.tag-6 a {
  width: 50%;
}
.tag-7 a {
  width: 40%;
}
.tag-8 a {
  width: 30%;
}
header {
  border-width: 0 0 2px;
  -moz-border-image: url('../images/2px.png') 0 0 2 repeat;
  -webkit-border-image: url('../images/2px.png') 0 0 2 repeat;
  -o-border-image: url('../images/2px.png') 0 0 2 repeat;
  border-image: url('../images/2px.png') 0 0 2 repeat;
  background-color: #48535f;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#2D2A62), to(#48535f));
  background-image: -moz-linear-gradient(top, #2D2A62, #48535f);
  background-image: -ms-linear-gradient(top, #2D2A62, #48535f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2D2A62), color-stop(100%, #48535f));
  background-image: -webkit-linear-gradient(top, #2D2A62, #48535f);
  background-image: -o-linear-gradient(top, #2D2A62, #48535f);
  background-image: linear-gradient(top, #2D2A62, #48535f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2D2A62', endColorstr='#48535f', GradientType=0);
  margin-bottom: 48px;
  padding: 24px 5.555555555555555%;
}
header h1 {
  margin: 0;
}
header a {
  text-decoration: none;
  color: #ffffff;
}
header a:hover {
  color: #ffffff;
  text-decoration: underline;
}
footer {
  /*border-width: 20px 0 0;
  -moz-border-image: url('../images/pages.png') 20 0 0 repeat;
  -webkit-border-image: url('../images/pages.png') 20 0 0 repeat;
  -o-border-image: url('../images/pages.png') 20 0 0 repeat;
  border-image: url('../images/pages.png') 20 0 0 repeat;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 96px;
  padding: 48px 5.555555555555555% 24px;*/
  height: 5em;
}
.nav {
  margin-bottom: 24px;
}
.nav li {
  list-style: none;
  display: inline;
  padding-right: 10px;
}
.nav a {
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
p[role="contentinfo"] {
  font-size: 12px;
}
.social {
  margin-bottom: 24px;
}
.social li {
  list-style: none;
  display: inline;
  padding-right: 12px;
}
.icon {
  margin-right: 2px;
  vertical-align: -3px;
}

.wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.75em;
}
.content {
  margin: 0 5.555555555555555%;
}
.meta {
  background: #fafafa;
  margin-top: 48px;
  padding-bottom: 24px;
  padding-top: 24px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.meta time {
  font-weight: 700;
  margin-left: 20px;
  margin-bottom: 24px;
}
.tag li {
  display: block;
  float: left;
  width: 50%;
}
blockquote,
pre
.post ul,
.post ol,
p,
.archive {
  margin: 0 0 24px 0;
}
.main + .main {
  margin-top: 96px;
}
.main p {
  width: 65%;
}
@media screen and (min-width: 45em) {
  header .wrapper {
    float: right;
    width: 90%;
  }
  .meta, .pages {
    float: left;
    text-align: right;
    width: 25%;
  }
  .meta {
    background: #ffffff;
    margin-top: 0;
    padding-top: 60px;
  }
  .meta time {
    margin-bottom: 24px;
    margin-left: 0;
    font-weight: 400;
  }
  .post, .copy, .main {
    float: right;
    width: 90%;
  }
  .tag li {
    float: none;
    width: 100%;
  }
  .nav a:hover {
    padding-right: 6px;
  }
  .nav a:hover:after {
    content: "\2192 ";
  }
  .nav li {
    display: block;
    padding-right: 0;
  }
  .archive time {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    float: left;
    width: 25%;
  }
}
@media screen and (min-width: 55.5em) {
  pre,
  .post > p,
  .post blockquote,
  .post ul,
  .post ol {
    width: 66.66666666666667%;
  }
  .main {
    float: none;
    margin-left: 10%;
    width: 90%;
  }
}
@media screen and (min-width: 61.5em) {
  .meta, .pages {
    width: 12.5%;
  }
  .pages {
    padding-top: 0;
  }
  .meta {
    padding-top: 60px;
  }
}
@media screen and (min-width: 117em) {
  body {
    font-size: 18px;
  }
  header {
    margin-bottom: 2em;
  }
  footer {
    margin-top: 144px;
  }
  header h1 {
    font-size: 2em;
  }

  .meta, .pages {
    padding-left: 6.25%;
    width: 18.75%;
  }
  .meta {
    padding-top: 96px;
  }
  .post, .copy {
    width: 75%;
  }
  .post {
    padding-right: 12.5%;
  }
  .post ul {
    margin-bottom: 0;
  }
  .post li {
    margin-bottom: 24px;
  }
  code, .codehilite {
    font-size: 1em;
  }
  pre,
  .post > p,
  .post blockquote,
  .post ul,
  .post ol {
    width: 90%;
  }
}
@media screen and (min-width: 130em) {
  body {
    max-width: 160em;
  }
}
@media print {
  * {
    background: transparent !important;
    box-shadow: none !important;
    color: black !important;
    filter: none !important;
    -ms-filter: none !important;
    text-shadow: none !important;
  }
  @page  {
    margin: 0.5cm;
  }
  a, a:visited {
    color: #000000 !important;
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  a[href^="javascript:"]:after, a[href^="#"]:after, .ir a:after {
    content: "";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  body {
    font-size: 12pt;
  }
  blockquote, pre {
    page-break-inside: avoid;
  }
  blockquote, pre {
    margin-left: 0.5cm;
    border-left: 0.2cm solid #999;
    padding-left: 0.2cm;
  }
  code, pre {
    font: 10pt Courier, monospace;
  }
  h1 {
    font-size: 18pt;
  }
  h2, h3 {
    page-break-after: avoid;
    font-size: 16pt;
  }
  h2, h3, p {
    orphans: 3;
    widows: 3;
  }
  img {
    max-width: 100% !important;
  }
  img, tr {
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
}

ul, li {
  margin: 1em;
}

div.toc {
  width: 50%;
  padding: 1em;
  margin:1em;
  margin-left: 4em;
  border: 1px solid #999999;
}


div.toc a:hover {
  text-decoration: underline
}

div.toc ul {
  width: 100%;
}

div.toc ul li {
  margin:0;
  padding:0;
  line-height: 2em;
  list-style-type: none;
  list-style-image: none;
}

div.toc ul li a {
 color: #999999;
 font-size: 14px;
 font-weight: 700;
}

div.toc ul li ul li a {
  text-decoration: none;
  color: #404040;
  font-weight: normal;
  font-size: 1em;
}


div.toc ul li ul li {
  margin-left: 2em;
  width: 100%;
}

hr {
  margin-bottom: 1em;
}

#me-intro {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  border-top: 1px solid gray;
  padding-top: 1em;
}

footer i {
  margin-right: .5em;
}

.gist table {
  width: 100%;
  padding: 1em;
}

.social {
  text-align: center;
}

.message {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #717171;
  background-color: #f9f9f9;
  font-weight: 400;
  width: 65%;
}


pre {
    background-color: #fbfbfb;
    border: 2px solid #DEDEDE;
    border-radius: 0px;
    font-size: 13px;
    padding: 1em;
}
/*pre {
  background: #262626;
  -webkit-box-shadow: inset 0 0 10px #000000;
  -moz-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
  color: #ffffff;
  margin-left: -24px;
  font-family: 'Droid Sans Mono', monospace;
  padding: 24px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}*/


/*https://gist.github.com/demisx/025698a7b5e314a7a4b5*/
.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

/* Make line numbers unselectable: excludes line numbers from copy-paste user ops */
.highlight .lineno {-webkit-user-select: none;-moz-user-select: none; -o-user-select: none;}
.lineno::-moz-selection {background-color: transparent;} /* Mozilla specific */
.lineno::selection {background-color: transparent;} /* Other major browsers */
/* Literal.Number.Integer.Long */


div.cell { margin-bottom: 2em; }

table.dataframe {
  border: 1px solid black;
  font-size: 13px;
}

table.dataframe {
    border-collapse: collapse;
    width: 100%;
}

table.dataframe td, table.dataframe th {
    border: 1px solid #ddd;
    padding: 8px;
}

table.dataframe tr:nth-child(even){
  background-color: #f2f2f2;}

table.dataframe tr:hover {background-color: #ddd;}

table.dataframe th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    font-weight: bold;

}

div.prompt {
  display: inline;
  font-size: small;
}

