{% extends "base.html" %}
{% block content_title %}{% endblock %}

{% block content %}
<div role="main" class="content clearfix">
	<p id="me-intro">
		I work with software in libraries.  I am interested in metadata, web application development and the Semantic Web.  If you would like to speak about any of these topics, please contact me by leaving a comment on one of the articles below or by sending an email to lawlesst at gmail dot com.
	</p>
	<div class="wrapper main">		
		<h3>Articles </h3>
			<ol class="archive">
			{% for article in articles %}
				{% if loop.index < 10 %}
						<li class="clearfix"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags}}"><time datetime="{{ article.date.isoformat() }}" pubdate>{{ article.locale_date }}</time> {{ article.title }}</a></li>
				{% endif %}
			{% endfor %}
			</ol>
			
			<p>See a complete list of articles in the  <a href="{{ SITEURL }}/archives.html">archive</a>.</p>
	</div>
</div>
{% endblock content %}
