{% extends "base.html" %}
{% block content_title %}{% endblock %}

{% block content %}
<div role="main" class="content clearfix">
	<p id="me-intro">
		Brief articles and technical notes about working with metadata, Web APIs and data systems. Feel free to <a href="https://www.linkedin.com/in/ted-lawless-bb30b65/">contact me</a> if you find anything of interest.
	</p>
	<div class="wrapper main">
		<h3>Articles </h3>
			<ol class="archive">
			{% for article in articles %}
				{% if loop.index < 10 %}
						<li class="clearfix"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags}}"><time datetime="{{ article.date.isoformat() }}" pubdate>{{ article.locale_date }}</time> {{ article.title }}</a></li>
				{% endif %}
			{% endfor %}
			</ol>

			<p>See a complete list of articles in the  <a href="{{ SITEURL }}/archives.html">archive</a>.</p>
	</div>
</div>
{% endblock content %}
