<!DOCTYPE html>
<html>
<head>
<title>{% if title %}{{ title }}{% else %}Ted Lawless{% endif %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% block extra_head %}{% endblock %}
</head>
<body>
<header>
<h1><a href="{{ url_for('index')}}">Ted Lawless</a><h1>
</header>
<div id="content">
{% block content %}
{% endblock %}
</div>

<footer>
  <a href="{{ url_for('index') }}">Ted Lawless</a>, 2021
  <ul>
  <li>lawlesst at gmail</li>
  <li><a href="https://github.com/lawlesst">Github</a></li>
  <li><a href="https://www.linkedin.com/in/ted-lawless-bb30b65/">LinkedIn</a></li>
    <li><a href="https://twitter.com/tedlawless">Twitter</a></li>
</footer>
{% block script %}{% endblock %}

{% if config['FLASK_ENV'] != 'development' %}
<script>
var _gaq=[['_setAccount','UA-2790298-5'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
{% endif %}
</script>
</body>
</html>