<!DOCTYPE html>
<html>

<head>
  <title>{% if title %}{{ title }}{% else %}Ted Lawless{% endif %}</title>
  {% if config['ENV'] == 'development' %}
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  {% endif %}
  <link rel="stylesheet" href="{{ url_for('static', filename='simple.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  {% block extra_head %}{% endblock %}
</head>

{%- set current_path = request.path -%}
{%- set index = url_for('index') -%}
{%- set archive = url_for('archive') -%}
{%- set about = url_for('page', slug='about') -%}

<body>
  <header>
    <h1>Ted Lawless</h1>
    <nav>

      <a {% if current_path==index %} aria-current="page" {% endif %} href="{{ url_for('index')}}">home</a>
      <a {% if current_path==about %} aria-current="page" {% endif %}
        href="{{ url_for('page', slug='about')}}">about</a>
      <a {% if current_path==archive %} aria-current="page" {% endif %} href="{{ url_for('archive')}}">archive</a>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>


  <footer>
    <a href="{{ url_for('page', slug='about') }}">Ted Lawless</a>, {{ current_year }}. <span class="last-updated">{%
      if now %}Last
      updated: {{
      now }}. {% endif %}</span>
  </footer>
  </div>

  {% block script %}{% endblock %}

</body>

</html>