<!DOCTYPE html>
<html>

<head>
  <title>{% if title %}{{ title }}{% else %}Ted Lawless{% endif %}</title>
  {% if config['ENV'] == 'development' %}
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  {% endif %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  {% block extra_head %}{% endblock %}
</head>

<body>
  <div id="content">
    <header>
      <a class="logo" href="{{ url_for('index')}}">home</a>
      <nav>
        <a href="{{ url_for('page', slug='about')}}">about</a>
        <a href="{{ url_for('archive')}}">archive</a>
      </nav>
    </header>
    {% block content %}
    {% endblock %}

    <footer>
      <a href="{{ url_for('page', slug='about') }}">Ted Lawless</a>, {{ current_year }}. <span class="last-updated">{%
        if now %}Last
        updated: {{
        now }}. {% endif %}</span>
    </footer>
  </div>

  {% block script %}{% endblock %}

</body>

</html>