{% extends "base.html" %}


{% block content %}

<div id="about">
  <p>
    I'm Ted Lawless, an application developer based in Ann Arbor, MI and primarily working in higher education. I post
    brief articles or technical notes from time to time about working with metadata, Web APIs and data management tools. See the list below. I've also compiled a list of <a href="{{ url_for('page', slug='presentations')}}">presentations</a> and <a href="{{ url_for('page', slug='projects') }}">projects</a> that I've been involved with.
  </p>

  <p>
    If any of this is of interest to you, please feel free to contact me via email (lawlesst at gmail), <a href="https://github.com/lawlesst">Github</a> , <a href="https://www.linkedin.com/in/ted-lawless-bb30b65/">LinkedIn</a>, or <a href="https://twitter.com/tedlawless">Twitter</a>.
  </p>
</div>

<div id="recent-posts">
  <h3>Posts</h3>
  <ol>
  {% for post in recent_posts %}
      <li><a href="{{ url_for('post', slug=post.slug)}}">{{ post.title }}</a> <date>{{ post.date }}</date></li>
  {% endfor %}
  <ol>
</div>
<p>See a <a href="{{ url_for('archive')}}">full list of posts</a></p>

{% endblock %}