{% extends "base.html" %}


{% block content %}
<p class="notice">
  Please feel free to contact me via <a href="mailto:lawlesst+blog@gmail.com.com">email</a>, <a
    href="https://github.com/lawlesst">Github</a>, or
  <a href="https://www.linkedin.com/in/ted-lawless-bb30b65/">LinkedIn</a> about anything you see here.
</p>


</div>
<div id="recent-posts">
  <h1>Articles/posts</h1>
  <ol>
    {% for post in recent_posts %}
    <li><a href="{{ url_for('post', slug=post.slug)}}">{{ post.title }}</a>, <date>{{ post.date }}</date>
    </li>
    {% endfor %}
    <ol>
</div>
<p>See a <a href="{{ url_for('archive')}}">full list of posts</a> or the <a href="{{ url_for('rss') }}">RSS feed.</a>
</p>

<p>For contact information, see the <a href="{{ url_for('page', slug='about')}}">about page</a>.
</p>

{% endblock %}